@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Epilogue";
  font-size: 16px;
  color: hsl(0deg, 0%, 8%);
  background-color: hsl(0deg, 0%, 98%);
  position: relative;
  height: 100vh;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  align-items: flex-start;
  padding: 1.5rem;
}
.header .logo {
  width: 6rem;
  height: auto;
}
.header .menu-button, .header .close-button {
  margin-left: auto;
  width: 2rem;
}
.header__nav.reveal {
  display: block;
}
.header__nav {
  display: none;
  position: absolute;
  inset: 0 0 0 0;
  background-color: hsla(0deg, 0%, 41%, 0.9);
}
.header__nav .menu {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: absolute;
  inset: 0 0 0 40%;
  padding: 1.5rem 1rem;
  background-color: hsl(0deg, 0%, 98%);
  color: hsl(0deg, 0%, 41%);
}
.header__nav .menu li {
  cursor: pointer;
}
.header__nav .menu .menu-item {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.header__nav .menu .menu-revealed {
  height: 0px;
  overflow: hidden;
  transition: all 0.7s ease-in;
}
.header__nav .menu .menu-revealed.reveal {
  height: auto;
  max-height: 200px;
  padding: 1.5rem 2rem;
}
.header__nav .menu .menu-revealed.reveal ul {
  display: flex;
  flex-direction: column;
  min-height: 0px;
  gap: 1rem;
}
.header__nav .menu .menu-revealed.reveal ul li {
  display: flex;
  gap: 1rem;
}
.header__nav .menu .close-menu-button {
  margin-left: auto;
}
.header__nav .menu .login button {
  display: block;
  width: 100%;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}
.header__nav .menu .login .register {
  border: 2px solid hsl(0deg, 0%, 41%);
}

main {
  display: flex;
  flex-direction: column;
  height: calc(100% - 79px);
}
main .hero {
  background-image: url("../images/image-hero-mobile.png");
  background-size: cover;
  flex: 1;
}
main .hero-desktop {
  display: none;
}
main .info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  text-align: center;
}
main .info h1 {
  font-size: 2rem;
}
main .info p {
  line-height: 1.5;
  color: hsl(0deg, 0%, 41%);
}
main .info button {
  outline: none;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 1rem;
  background-color: hsl(0deg, 0%, 8%);
  color: hsl(0deg, 0%, 98%);
  transition: all 0.3s ease-in;
}
main .info button:hover {
  outline-width: 1px;
  outline-style: solid;
  outline-color: hsl(0deg, 0%, 8%);
  color: hsl(0deg, 0%, 8%);
  background-color: hsl(0deg, 0%, 98%);
}
main .info footer {
  display: flex;
  gap: 1rem;
  align-items: center;
}
main .info footer img {
  min-width: 0px;
}

@media screen and (min-width: 600px) {
  .header {
    gap: 2rem;
  }
  .header .menu-button {
    display: none;
  }
  .header__nav {
    display: block;
    position: static;
    width: 100%;
    margin-left: 2rem;
  }
  .header__nav .menu {
    padding: 0;
    position: static;
    flex-direction: row;
    gap: 3rem;
  }
  .header__nav .menu .close-menu-button {
    display: none;
  }
  .header__nav .menu .login {
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }
  .header__nav .menu ul {
    overflow: visible;
  }
  .header__nav .menu li {
    position: relative;
  }
  .header__nav .menu .menu-revealed.reveal {
    position: absolute;
    background-color: white;
    top: 2rem;
    right: 0;
    border-radius: 1rem;
    box-shadow: 0 10px 30px hsla(0deg, 0%, 41%, 0.9);
  }
  .header__nav .menu .menu-revealed.reveal li {
    white-space: nowrap;
  }
  main {
    flex-direction: row-reverse;
    gap: 3rem;
    padding: 4rem 8rem;
    height: calc(100% - 87px);
  }
  main .info {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: flex-start;
    flex: 55;
  }
  main .info h1 {
    font-size: 5rem;
    text-align: left;
  }
  main .info p {
    text-align: left;
    max-width: 70%;
  }
  main .info footer {
    margin-top: auto;
  }
  main .hero {
    display: block;
    flex: 45;
    height: 100%;
  }
}/*# sourceMappingURL=styles.css.map */